body {
  background: black;
  color: white;
}

.image-container {
  margin: auto;
  position: relative;
  width: 90%;
  height: 70vh;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dots-container {
  z-index: 30;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
}

.dot {
  height: 20px;
  width: 20px;
  background-color: rgb(210, 210, 210);
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
  transition: 0.4s all;
}
.dot.active {
  background: plum;
}

.dot:hover {
  cursor: pointer;
  background: plum;
}

.front {
  z-index: 10;
}

.active {
  opacity: 1;
  z-index: 10;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
